@font-face {
  font-family: "arialnarrow";
  src: url("/fonts/arialnarrow.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


body {
    margin: 0;
    font-family: 'arialnarrow', sans-serif;
    background-color: #00F500;
    color: #000000;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #000000;
    opacity: 0.5;
    font-size: 16px;
}

.menu a:hover {
    opacity: 1;
}

#logo {
    width: 35px
}


.footer {
    background-color: #000;
    color: #00F500;
    padding: 20px 20px;
    margin-top: 100px;
}

.footer-text {
    color: #00F500;
    margin:0 0 40px 0;
}
.footer-icons {
    margin-bottom: 40px;
    display: flex;
    gap: 20px;
}

#Telegram2 {
    opacity: 0.7;
}

#Telegram2:hover {
    opacity: 1;
}

#WhatsApp2 {
    opacity: 0.7;
}

#WhatsApp2:hover {
    opacity: 1;
}

h3 {
    font-family: 'arialnarrow', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
}

#footer-h3 {
    opacity: 0.5;
    margin: 0;
}

.footer-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

                                                /*Главаня страница*/

.cover {
    padding: 0 20px;
}

.cover img {
    width: 100%;
    margin-bottom: 20px;
}

.cover-text {
    font-weight: 400;
}

.cover-text h1 h2 p {
    font-weight: 400;
}

h1, h2, p {
    font-family: 'arialnarrow', sans-serif;
    font-weight: 400;
    color: #000;
}

h1 {
    font-size: 230px;
    line-height: 80%;
}

.cover-text h1 {
    margin: 0 0 40px 0;
}

h2 {
    font-size: 48px;
    line-height: 100%;
}

.cover-text h2 {
    margin: 10px 0 20px 0;
}

p {
    font-size: 20px;
    opacity: 0.5;
    line-height: 120%;
}
.cover-text p {
    margin: 0 0 40px 0;
}

.button-main {
    background: none;
    border: none;
    text-decoration: none;
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    opacity: 0.7;
    border-bottom: 1px solid;
    padding: 0 0 1px 0;
}

.button-main:hover {
    opacity: 1;
}

.cover-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

                                                /*Страница контакты*/

.contacts-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 20px 20px 20px;
}

.contacts-header h1 {
    margin: 0;
}

.contacts-icons {
    display: flex;
    gap: 20px;
}

#telegram {
     opacity: 0.7;
}

#telegram:hover {
     opacity: 1;
}

#whatsapp {
     opacity: 0.7;
}

#whatsapp:hover {
     opacity: 1;
}

.line {
    border: none;
    border-top: 1px solid;
    margin: 0 20px 20px 20px;
    opacity: 0.3;
}

.block {
    margin-top: 100px;
    padding: 0 20px 40px 20px;
}

.insta-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 40px;
}

.insta-header h2 {
    margin: 0;
}

.insta-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(214px, 1fr));
    gap: 20px;
}

.insta-gallery img {
    width: 214px;
    height: auto;

}


                                                /*Страница про меня*/

.about-intro {
    padding: 20px 20px;
    margin-bottom: 100px;
}

.about-intro h1 {
    margin: 0 0 20px 0;
}

.about-intro h2 {
    margin-top: 20px;
}

.about-services {
    padding: 20px;
    margin-top: 0;
}

.about-services h2 {
    margin: 0 0 40px 0;
}

.services {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: top;
    gap: 137px;
    margin: 0;
}

.card-services h3 {
    margin: 0;
}

.card-services p {
    margin: 0;
}

.card-services img {
    width: 100%;
    height: auto;
}

.about-line {
    border: none;
    border-top: 1px solid;
    margin: 0;
    opacity: 0.3;
}

                                                /*Страница кейсы*/

.case-desidner {
    padding: 20px;
    margin-top: 0;
}

.case-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card-name {
    display: flex;
    align-items: center;
    margin: 0px;
    gap: 20px;
}

.card-button {
    opacity: 0.7;
}

.card-button:hover {
    opacity: 1;
}